<template>
  <MdToolbar class="md-primary">
    <span class="md-title">
      Image To GIF
    </span>
    <RouterLink :to="{ name: 'list'}">
      <MdButton>List</MdButton>
    </RouterLink>
    <RouterLink :to="{ name: 'new'}">
      <MdButton>New</MdButton>
    </RouterLink>
  </MdToolbar>
</template>

<script>
export default {
    name: 'NavBar'
};
</script>
