<template>
  <MdProgressSpinner
    v-if="loading && images.length == 0"
    :md-diameter="100"
    :md-stroke="10"
    md-mode="indeterminate"
  />
  <div
    v-else-if="images.length > 0"
    class="listpage"
  >
    <span class="md-title">
      Images
    </span>
    <div
      class="elevation"
    >
      <MdContent
        v-for="(image, index) in images"
        :key="image.id"
        :data="image"
        class="md-elevation-12"
      >
        <RouterLink :to="{ name: 'single', params: {id: image.id } }">
          <img :src="image.gif_image_file">
        </RouterLink>
      </MdContent>
    </div>
  </div>
  <div v-else-if="!loading && images.length == 0 && !error">
    <MdEmptyState
      md-icon="devices_other"
      md-label="Create Your First GIF"
      md-description="Creating a GIF, you'll be able to upload your images and have fun with friends."
    >
      <RouterLink :to="{ name: 'new' }">
        <MdButton class="md-primary md-raised">
          Create first GIF
        </MdButton>
      </RouterLink>
    </MdEmptyState>
  </div>

  <MdDialogAlert
    v-else-if="error"
    :md-active.sync="error"
    :md-content="error.response.statusText"
    :md-confirm-text="OK"
  />
</template>

<script>
export default {
    name: 'ListPage',
    data () {
        return {
        	images: [],
            error: null,
            loading: true
        };
    },
    mounted () {
        this.axios
            .get('/api/gif/')
            .then(response => {
                this.images = response.data;
                this.loading= false;
            })
            .catch(error => {
                this.error = error;
                this.loading = false;

            });
    }
};
</script>

<style lang="scss" scoped>
  .elevation {
    padding: 16px;
    display: flex;
    flex-wrap: wrap;
  }

.md-progress-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
  .md-content {
    width: 200px;
    height: 200px;
    margin: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>

