<template>
  <div
    v-if="!error"
    class="newuploadpage"
  >
    <div class="dropzone">
      <MdCard
        v-for="(file, index) in files"
        :key="file.name"
      >
        <MdCardMedia md-ratio="1/1">
          <img
            :src="file.base64"
            alt="People"
          >
        </MdCardMedia>

        <MdCardContent>
          File Name: {{ file.name }}
        </MdCardContent>
        <MdCardActions>
          <MdButton
            class="md-accent md-raised"
            @click="removeFile(index)"
          >
            Remove
          </MdButton>
        </MdCardActions>
      </MdCard>
      <input
        ref="files"
        multiple
        type="file"
        class="input-field"
        @change="processFiles"
      >
    </div>
    <br>
    <MdProgressBar
      md-mode="determinate"
      :class="{'md-accent': upload}"
      :md-value="singleFileProgress"
    />
    <MdButton
      class="md-raised md-primary"
      @click="createGIF"
    >
      Create GIF
    </MdButton>
    {{ singleFileProgress }}
  </div>
  <MdDialogAlert
    v-else-if="error"
    :md-active.sync="error"
    :md-content="error.response.data"
    :md-confirm-text="OK"
    @md-confirm="removeError"
  />
</template>

<script>
export default {
    name: 'NewUploadPage',
    components: {
    },
    data () {
        return {
            upload: false,
            files: [],
            error: null,
            singleFileProgress: 0

        };

    },
    methods : {
        removeError: function(){
            this.error = null;
        },
        createGIF: function(event) {
            const config = {
                onUploadProgress: progressEvent => this.singleFileProgress = parseInt(((progressEvent.loaded/progressEvent.total) * 100),)
            };
            this.singleFileProgress = 0;
            this.upload = true;
            this.axios.post('/api/gif/', {images: this.files}, config)
                .then(response => {
                    this.info = response;
                    return this.$router.push('/');
                })
                .catch(error => (this.error = error ));
        },
        processFiles: function(event){
            this.errors = [];
            var files = this.$refs.files.files;
            var validImageTypes = ['image/gif', 'image/jpeg', 'image/png'];
            for (var i=0; i<files.length; i++){

                let file = files[i];

                if(!(validImageTypes.includes(file.type))) {
                    this.errors.push(file.name);
                    continue;
                }
                // Make new FileReader
                let reader = new FileReader();
                // Convert the file to base64 text
                reader.readAsDataURL(file);
                // on reader load somthing...
                reader.onload = () => {
                    // Make a fileInfo Object
		    	    let fileInfo = {
                        name: file.name,
		    	        type: file.type,
		    	        size: Math.round(file.size / 1000)+' kB',
		    	        base64: reader.result,
		    	        file: file
		    	    };
			    this.files.push(fileInfo);
                };

                reader.onprogress = (data) => {
                    if (data.lengthComputable) {
                        this.singleFileProgress = parseInt( ((data.loaded / data.total) * 100), 10 );
                    }
                };
		    }

        },
        removeFile: function(index){
            this.files.splice(index, 1);
        }

    }
};
</script>

<style lang="scss" scoped>

.md-card {
    width: 100px;
    margin: 4px;
    display: inline-block;
    vertical-align: top;

    .md-card-media {
        background-color: rgb(64,64,64);

        img {
        }

    }
    .md-card-content {
        overflow: hidden;
        text-overflow: ellipsis;
    }

  }


.dropzone {
    min-height: 250px;
    background: white;
	border-radius: 5px;
    padding: 0px 0px;
    border: 2px dashed rgb(0, 135, 247);
	border-image: none;
	margin-right: auto;

    input {
        opacity:0;
        width: 100%;
        min-height: 250px;
        cursor: pointer;
        position: absolute;
    }

    &:hover {
        background: aqua;
    }
}

</style>

