<template>
  <MdEmptyState
    md-rounded
    md-icon="not_interested"
    md-label="404"
    md-description="Not Found :( "
  />
</template>

<script>
export default {
    name: 'NotFound'
};
</script>
