<template>
  <MdProgressSpinner
    v-if="!image"
    :md-diameter="100"
    :md-stroke="10"
    md-mode="indeterminate"
  />
  <div
    v-else-if="image"
    class="singlepage"
  >
    <MdContent
      class="gif"
    >
      <img :src="image.gif_image_file">
    </MdContent>

    <MdDivider />
    <span class="md-title">
      Images
    </span>
    <br>
    <MdCard
      v-for="(imageData, index) in image.images"
      :key="index"
      :data="imageData"
      class="single md-elevation24"
    >
      <MdCardMedia>
        <img
          :src="imageData.base64"
          alt="People"
        >
      </MdCardMedia>

      <MdCardContent>
        {{ imageData.name }}
      </MdCardContent>
    </MdCard>
  </div>
</template>

<script>
export default {
    name: 'SinglePage',
    data () {
        return {
            id: this.$route.params.id,
            image: null
        };
    },

    mounted () {
        const url = '/api/gif/' + this.$route.params.id;
        this.axios
            .get(url)
            .then(response => (this.image = response.data))
            .catch(error => {
                if(error.response.status == 404){
                    return this.$router.push('/404')
                }
            });
    }
};
</script>

<style lang="scss" scoped>
.gif {
  margin-left: auto;
  margin-right: auto;
  max-width: 500px;
  align-items: center;
  justify-content: center;
}

.md-progress-spinner {
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}
.md-card {
  width: 200px;
  height: 200px;
  margin:16px;
  display: inline-block;
  vertical-align: top;

  img {
      height: 150px;
      width: 150px;
      margin-left: 25px;
  }
  .md-card-content {
      max-width: 200px;
      text-overflow: ellipsis;
      display: block;
      overflow: hidden;
      position: absolute;
      bottom: 0;
      padding:5px;
      color:blue;
  }
}

</style>


