<template>
  <div class="page-container md-layout-column">
    <NavBar />
    <MdContent>
      <RouterView />
    </MdContent>
  </div>
</template>

<script>
import NavBar from './components/layout/AppHeader.vue';

export default {
    name: 'App',
    components: { NavBar }
};
</script>

<style lang="scss">
// Vue template
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: md-get-palette-color(blue, A200), // The primary color of your application
  accent: md-get-palette-color(red, A200) // The accent or secondary color
));

@import "~vue-material/dist/theme/all"; // Apply the theme
// End of Vue Template


  .page-container {
    min-height: 300px;
    overflow: hidden;
    position: relative;
  }

  .md-content {
    padding: 16px;
    bottom: 0;
  }
</style>
